 
{% extends "base.html" %}
{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/recommend.css' %}" />
<section class="home" id="home">

    <div class="video">
      <video src="{% static 'img/tree.mp4' %}" loop muted autoplay></video>
    </div>
    <div>
        
        <div class="card-container">
        {% for accommodation in recommends %}
        <div class="card">
                <a href="{% url 'accommodations:detail' accommodation.pk %}">
                <img src='{{accommodation.main_img_src}}'>        
            <p>{{accommodation.name}}</p>
        </div>    
        {% endfor %}
        </div>
    </div>
</section>
    <div class="card-container">
        {% for accommodation in accommodations  %}
        <div class="card">
        <a href="{% url 'accommodations:detail' accommodation.pk %}">
            <img src="{{accommodation.main_img_src}}">
            <div>
                <div>
                    <span>{{accommodation.city}}, {{accommodation.country.name}}</span>
                </div>
                <span>
                    {{accommodation.total_rating}}
                </span>
            </div>
            <span>{{accommodation.name}}</span>
        </a>
        </div>
        {% endfor %}
    </div>

    <div>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-left fa-lg"></i>
        </a>
        {% endif %}

        <span>
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        </span>
        
        {% if page_obj.has_next  %}
        <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-right fa-lg"></i>
        </a>
        {% endif %}
    </div>
</div>
</section>
{% endblock content %}